* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #29a396;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #165f56;
}



.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
    background: radial-gradient(#fff, lightgrey);
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}
/*Trainers Section CSS*/
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title::after {
    content: "";
    background: #29a396;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: black;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

 .col-4:hover {
     transform: translateY(-5px);
 }

 /*BMI section CSS*/

 .box {
     width: 500px;
     background: #fafafa;
     border-radius: 12px;
     text-align: center;
     box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.5);

 }


 h1 {
     color: rgb(0, 0, 0, 0.7);
     font-weight: bold;
     font-size: 36px;
     padding: 30px 0;

 }



 .content {
     padding: 0 30px;

 }

 .input {
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 20px 0;
     margin-bottom: 20px;
 }


 .input label {
     display: block;
     font-size: 18px;
     font-weight: 600;
     color: #000;
     margin-bottom: 20px;
 }

 .input input {
     outline: none;
     border: none;
     border-bottom: 1px solid #29a396;
     width: 50%;
     text-align: center;
     font-size: 28px;
     font-family: "Nunito", sans-serif;
 }



 .inputW {
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 10px 0;
     margin-bottom: 20px;
 }


 .inputW label {
     display: block;
     font-size: 18px;
     font-weight: 600;
     color: #000;
     margin-bottom: 20px;
 }

 .inputW input {
     outline: none;
     border: none;
     border-bottom: 1px solid #29a396;
     width: 50%;
     text-align: center;
     font-size: 28px;
     font-family: "Nunito", sans-serif;
 }

 .inputH {
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 10px 0;
     margin-bottom: 20px;
     margin-right: 20px;
 }


 .inputH label {
     display: block;
     font-size: 18px;
     font-weight: 600;
     color: #000;
     margin-bottom: 20px;
 }

 .inputH input {
     outline: none;
     border: none;
     border-bottom: 1px solid #29a396;
     width: 50%;
     text-align: center;
     font-size: 28px;
     font-family: "Nunito", sans-serif;
 }


 button.calculate {
     cursor: pointer;
     font-family: "Nunito", sans-serif;
     color: #fff;
     background: #29a396;
     font-size: 16px;
     border-radius: 7px;
     padding: 12px 0;
     width: 100%;
     outline: none;
     border: none;
     transition: all 0.5s;
 }

 button.calculate:hover {
     background: #165f56;
 }



 .result {
     padding: 10px 20px;
 }

 .result p {
     font-weight: 600;
     font-size: 22px;
     color: #000;
     margin-bottom: 15px;
 }

 .result #result {
     font-size: 36px;
     font-weight: 900;
     color: #29a396;
     background-color: #eaeaea;
     display: inline-block;
     padding: 7px 20px;
     border-radius: 55px;
     margin-bottom: 25px;
 }

 #comment {
     color: #29a396;
     font-weight: 800;
 }

 .comment {
     display: none;
     border: dashed 1px;
     border-radius: 7px;
     padding: 5px;
 }

 .footer {
     display: flex;
     justify-content: start;
     align-items: center;
     padding: 10px 15px
 }

 .footer-text {
     text-decoration: none;
     color: rgba(40, 40, 40, 0.8);
     font-family: 'Poppins', sans-serif;
     font-weight: 200;
     font-size: 14px;
     transition: all 0.5;
 }

 .footer-text:hover {
     color: rgba(40, 40, 40, 1);
 }

 .gender {
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 20px 0;
     margin-bottom: 20px;
 }

 /* Style for Radio */
 .gender .container {
     display: block;
     position: relative;
     padding-left: 35px;
     /* margin-bottom: 12px; */
     margin-top: 7px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 /* Hide the browser's default radio button */
 .gender .container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
 }

 /* Create a custom radio button */
 .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
     border-radius: 50%;
 }

 /* On mouse-over, add a grey background color */
 .gender .container:hover input~.checkmark {
     background-color: #ccc;
 }

 /* When the radio button is checked, add a blue background */
 .gender .container input:checked~.checkmark {
     background-color: #29a396;
 }

 /* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }

 /* Show the indicator (dot/circle) when checked */
 .gender .container input:checked~.checkmark:after {
     display: block;
 }

 /* Style the indicator (dot/circle) */
 .gender .container .checkmark:after {
     top: 9px;
     left: 9px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: white;
 }

 /* END Style for Radio */

 .containerHW {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }





 /* The Modal (background) */
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 100px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
     padding-top: 300px;

 }

 /* Modal Content */
 .modal-content {
     background-color: #fefefe;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 600px;
     border-radius: 10px;
     box-shadow: #393c76 -1px 2px 2px 1px;
 }

 #modalText {
     padding-top: 8px;
     padding-right: 5px;
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
     color: rgb(24, 23, 23);
 }

 .modal-wrong {
     border: 2px solid red;
 }

 .modal-correct {
     border: 2px solid green;
 }

 /* The Close Button */
 .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s;
 }

 .close:hover {
     color: #d41111;
 }

 /*Brands CSS*/
 .brands {
     margin: 100px auto;
 }

 .col-5 {
     width: 160px;
 }

 .col-5 img {
     width: 100%;
     cursor: pointer;
     filter: grayscale(100%);
 }

 .col-5 img:hover {
     width: 100%;
     cursor: pointer;
     filter: grayscale(0);
 }

 /* footer */

 .footer {
     background: lightgray;
     color: black;
     font-size: 14px;
     padding: 60px 0 20px;
 }

 .footer p {
     color: black;
 }

 .footer h3 {
     color: black;
     margin-bottom: 20px;
 }

 .footer-col-1,
 .footer-col-2,
 .footer-col-3,
 .footer-col-4 {
     min-width: 250px;
     margin-bottom: 20px;
 }

 .footer-col-1 {
     flex-basis: 30%;
 }

 .footer-col-2 {
     flex: 1;
     text-align: center;
 }

 .footer-col-2 img {
     width: 180px;
     margin-bottom: 20px;
 }

 .footer-col-3,
 .footer-col-4 {
     flex-basis: 12%;
     text-align: center;
 }

 ul {
     list-style-type: none;
 }

 .app-logo {
     margin-top: 20px;
 }

 .app-logo img {
     width: 140px;
 }

 .footer hr {
     border: none;
     background: #b5b5b5;
     height: 1px;
     margin: 50px 0;
 }

 .copyright {
     text-align: center;
 }

 .menu-icon {
     width: 28px;
     margin-left: 40px;
     display: none;
 }

 /* media query for menu */

 @media only screen and (max-width: 800px) {
     nav ul {
         position: absolute;
         top: 70px;
         left: 0;
         background: #333;
         width: 100%;
         overflow: hidden;
         transition: max-height 0.5s;
     }

     nav ul li {
         display: block;
         margin-right: 50px;
         margin-top: 10px;
         margin-bottom: 10px;
     }

     nav ul li a {
         color: #fff;
     }

     .menu-icon {
         display: block;
         cursor: pointer;
     }
 }

 @media (max-width: 700px) {


     .box {
         width: 380px;
     }




     .input label {

         font-size: 18px;
     }

     .inputH label,
     .inputW label {
         font-size: 14px;
     }


     .input input,
     .inputH input,
     .inputW input {
         font-size: 24px;
     }


     .modal-content {

         width: 380px;
     }



 }


 /* media query for less than 600 screen size */

 @media only screen and (max-width: 600px) {
     .row {
         text-align: center;
     }

     .col-2,
     .col-3,
     .col-4 {
         flex-basis: 100%;
     }

     .single-product .row {
         text-align: left;
     }

     .single-product .col-2 {
         padding: 20px 0;
     }

     .single-product h1 {
         font-size: 26px;
         line-height: 32px;
     }

     .cart-info p {
         display: none;
     }
 }